.index{
    display: block;
    color:red;
    text-align: center;
    font-size: 64px;
    font-style: bold;
}
.img_div{
    width: 500px;
    height: 500px;
}
.img{
    width: 50%;
    height: 50%;
}
body{
    display:flex;
    flex-flow: column;
    text-align: center;
}